<div class="body3">

    <div class="marge-class">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Conecte-se</h5>

                <div class="col-md-7 col-lg-6 ml-auto"></div>
                <form action="#">
                    <div class="row">

                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input [(ngModel)]="email" id="email" type="email" name="email" placeholder="E-mail"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4 responsive">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input [(ngModel)]="password" id="password" type="password" name="password"
                                placeholder="Senha" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <a href="#" class="btn btn-info btn-block py-2">
                                <span (click)="login()" class="font-weight-bold">Entrar</span>
                            </a>
                        </div>
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Não possui cadastro? <a href='register'
                             class="text-primary ml-2">Registre-se</a>
                            </p>
                            <div class="recover_password">
                                <a href="recover_password">Esqueceu a senha</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>


</div>