:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2, h3, h4, h5, h6 {
    margin: 8px 0;
    color: rgb(255, 255, 255);
}

h1 {
    margin: 8px 0;
    color: rgb(248, 169, 23);
}

p {
    margin: 0;
}

.navbar-custom {
    background-color: #F5BB00;
}

.Login {
    width: 80px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.video {
    position: relative;
    margin: 10px auto;
    width: 550px;
}

.infor {
    position: relative;
    display: flex;
    margin: 32px auto;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 100px;
    width: 300px;
    margin: 20px;
    top: 20px;
}

.entrada {
    position: relative;
    top: 2%;
    left: 15%;
    width: 250px;
    display: flex;
    margin: 10px;
}

.form-control {
    background-color: #2d3640;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    width: 380px;
    overflow: hidden;
    text-decoration-color: #ffffff;
}

.btn-primary {
    background-color: #1E9FCE;
}

.botoes {
    position: relative;
    left: 55%;
    margin-right: 50px;
}

.toolbar {
    display: flex;
    align-items: center;
    color: rgb(248, 169, 23);
    font-weight: 600;
}

.toolbar img {
    margin: 20px;
}

.professor {
    position: relative;
    left: 20%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infor3 {
    position: relative;
    left: 10%;
    margin-top: 1%;
}

.footer-data {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 2%;
}

.footer-text {
    position: relative;
    left: 30%;
    top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#email {
    color: #1E9FCE;
}

#meensina {
    color: #858585;
}

a, a:visited, a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
    .body1 {
        width: 100%;
    }
    .body2 {
        width: 100%;
    }
}