<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="body" >

    <div class="toolbar" fxLayout="row" fxLayoutAlign="center center">
        <img width="40" alt="Angular Logo" src="\assets\Logo_Me_Ensina_Branca.png" />
        <span>Me Ensina!</span>

        <div class="botoes">

            <a class="spacer" target="_blank" rel="noopener" href="https://blog.angular.io/">

                <span>Ajuda</span>
            </a>
            <a class="spacer" target="_blank" rel="noopener" href="https://blog.angular.io/">
                <span>Inscreva-se</span>
            </a>
            <a class="spacer" target="_blank" rel="noopener" href="https://blog.angular.io/">

                <span>Faça parte</span>
            </a>
            <a class="spacer" target="_blank" rel="noopener" href="https://blog.angular.io/">

                <span>Login</span>
            </a>

        </div>

    </div>

    <div class="content" role="main">


        <!-- Resources -->
        <h1>Como é o Me Ensina?</h1>
        <h3>Veja o video e fique por dentro :)</h3>

    </div>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


</div>

<router-outlet></router-outlet>