<div class="color">
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container">
            <div class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-user text-muted"></i></a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                    <a class="dropdown-item" href="#pk">Painel de controle</a>
                    <a class="dropdown-item" href="#pk">Solicitação de aulas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#pk">Desconectar-se</a>
                </ul>
            </div>

        </div>
    </nav>
    <div class="card1">
        <img class="card-img-top" src="../../assets/tamanho_foto_perfil_facebook-recortada.png" alt="Card image cap">
        <div class="card-body">
            <h4>Doguinho</h4>
            <h6>E-mail:</h6>
            <h6>Telefone</h6>
        </div>
    </div>
    <div class="card2">
        
        <h4>Pedidos de aula</h4>
        


    </div>
</div>

<style>
    .color{
        background-color: gainsboro;
        height: 900px;
    }
    .navbar {
        height: 75px;
    }

    .dropdown-toggle {
        padding-left: 1350px;
    }
    .card-img-top{
        width: 80%;
        padding-left: 15%;
    }
    .card-body{
        padding-left: 25%;
    }

    .card1{
        background-color: white;
        width: 20%;
        
    }
    .card2{
        background-color: white;
        width: 50%;
        height: 40%;
        padding-left: 30%;

    }
    
</style>