/* You can add global styles to this file, and also import other style files */
.body1 {
    background-image: url("/assets/body.png");
    background-size: 700px;
    height: 530px;
    background-color: #18222D;

}
.body2 {
    background-color: #18222D;
    background-size: cover;
}

.body3 {
    background-image: url("/assets/body.png");
    background-size: 700px;
    height: 852px;
    background-color: #18222D;

}