.bg-treva{
    background-color: rgba(41, 38, 38, 0.87);
}


 .btn.btn-marinho {
    border:none;
    background-color: #1E9FCE;
    background-image: -moz-linear-gradient(top, #1E9FCE, #1E9FCE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1E9FCE), to(#1E9FCE));
    background-image: -webkit-linear-gradient(top, #1E9FCE, #1E9FCE);
    background-image: -o-linear-gradient(top, #1E9FCE, #1E9FCE);
    background-image: linear-gradient(to bottom, #1E9FCE, #1E9FCE);
}
body { background: #eee }

.container-fluid { max-width: 1200px; }

[class*="col-"] {
	background: #efefef;
	border: none;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}

p{
    font-size: 18px;
}

a:link
{
text-decoration:none;
}