<div class="body1">


    <nav class="navbar navbar-light">
        <a class="navbar-brand " routerLink="home" routerLinkActive="active">
            <img src="assets\Logo Me Ensina Branca.svg" width="110" height="60" class="d-inline-block align-top px-md-3"
                alt="">
        </a>
        <nav class="navbar navbar-expand-lg ">
            <button class="navbar-toggler navbar-custom " type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-white font-weight-bold" href="#">Ajuda</a>
                    <a *ngIf="!isLoged" class="nav-item nav-link text-white font-weight-bold" routerLink="register"
                        routerLinkActive="active">Inscreva-se</a>
                    <a class="nav-item nav-link text-white font-weight-bold" href="#">Faça parte</a>
                    <div *ngIf="!isLoged" class="Login">
                        <a class="nav-item nav-link text-white text-center rounded-pill bg-warning" routerLink="login"
                            routerLinkActive="active">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </nav>

    <div class="container">
        <div class="infor">


            <!-- Resources -->
            <h1>Como é o Me Ensina?</h1>
            <h3>Veja o video e fique por dentro :)</h3>
        </div>
        <div class="video">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k5DZBdL6qnA?list=RDhTTfpb-pdXI"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>

    </div>

</div>
<div class="body2">
    <div class="professor">
        <h2 class="text-warning">Encontre</h2>
        <h2 class="text-warning">O melhor professor</h2>
    </div>
    <div class="container">
        <div class="entrada">
            <div class="input-group mb-3">
                <input type="text" class="form-control border-0 text-white" placeholder="Qual matéria quer aprender?"
                    aria-label="materia" aria-describedby="basic-materia">
            </div>
        </div>
        <div class="entrada">
            <div class="input-group mb-3">
                <input type="text" class="form-control border-0 text-white" placeholder="Rua, bairro e/ou cidade"
                    aria-label="endereco" aria-describedby="basic-endereco">
            </div>
        </div>
        <div class="entrada">
            <div class="buscar">
                <button type="button" class="btn btn-primary">Buscar <img src="assets\ic_search_24px.svg" alt="Logo"
                        width="20%" /></button>
            </div>

        </div>

    </div>

    <div class="infor3 text-center">
        <img src="assets\Retângulo 5.svg" alt="Logo" width="80%" />

    </div>

    <div class="aprenda" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <h2 class="text-warning">Aprenda</h2>
            <h2 class="text-warning">tudo o que quiser</h2>
            <h2 class="text-warning">Torne-se um mestre onde desejar!</h2>
        </div>
    </div>

    <div class="tabela">
        <table class="table-responsive" id="marg-tabela">
            <thead>
                <tr>
                    <th scope="col">Reforço escolar</th>
                    <th scope="col">Música</th>
                    <th scope="col">Artes e lazer</th>
                    <th scope="col">Esportes</th>
                    <th scope="col">Idiomas</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><a href="#" id="marg-tabela">Matemática</a></td>
                    <td><a href="#" id="marg-tabela">Piano</a></td>
                    <td><a href="#" id="marg-tabela">Desenho</a></td>
                    <td><a href="#" id="marg-tabela">Personal trainer</a></td>
                    <td><a href="#" id="marg-tabela">Inglês</a></td>

                </tr>
                <tr>
                    <td><a href="#" id="marg-tabela">Física</a></td>
                    <td><a href="#" id="marg-tabela">Violão</a></td>
                    <td><a href="#" id="marg-tabela">Costura</a></td>
                    <td><a href="#" id="marg-tabela">Natação</a></td>
                    <td><a href="#" id="marg-tabela">Espanhol</a></td>

                </tr>
                <tr>
                    <td><a href="#" id="marg-tabela">Informática</a></td>
                    <td><a href="#" id="marg-tabela">Canto</a></td>
                    <td><a href="#" id="marg-tabela">Culinária</a></td>
                    <td><a href="#" id="marg-tabela">Jiu Jitsu</a></td>
                    <td><a href="#" id="marg-tabela">Alemão</a></td>

                </tr>
                <tr>
                    <td><a href="#" id="marg-tabela">Química</a></td>
                    <td><a href="#" id="marg-tabela">Bateria</a></td>
                    <td><a href="#" id="marg-tabela">Yoga</a></td>
                    <td><a href="#" id="marg-tabela">Dança</a></td>
                    <td><a href="#" id="marg-tabela">Francês</a></td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="aprenda">
        <div>
            <h2 class="text-warning">Aprenda</h2>
            <h2 class="text-warning">de onde você quiser</h2>
        </div>
    </div>

    <div class="infor4">
        <img src="assets\camera.svg" alt="Logo-cam" width="50px" />
        <h4 id="text-cam"> Do conforto da sua casa via webcam</h4>
    </div>
    <div class="infor5 text-center">
        <img src="assets\+8000.svg" alt="Logo-cam" width="30%" />
        <h1 id="text-cam">Viva de sua paixão!</h1>
    </div>


</div>



<footer>
    <div class="footer-data">
        <img class="text-center" src="assets\Me Ensina.svg" alt="Logo" width="10%" />
        <div class="footer-text">
            <h1 id="contato">Contato</h1>
            <h2 id="email">Email : meensina@gmail.com</h2>
            <h4 id="meensina">Me Ensina 2020</h4>
        </div>
    </div>
</footer>
