.imagem2 {
    background-image: url("/assets/body.png");
    background-size: 700px;
    height: 852px;
    background-color: #18222d
    
}

.card {
    width: 450px;
    height: 550px;
    border-radius: 15px;
    left: 670px;
    top: 125px;

}

.card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;

}

.form-control:not(select) {
    padding: 0px;
}

.form-control {
    height: 52px;
    padding-left: 0px;
    color: gray;

}

.form-control::placeholder {
    color: dimgray;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-control:focus {
    box-shadow: none;
}
.text-center{
    padding-top: 20px;
}
.row{
    padding-top: 30px;
    width: 400px;
    padding-left: 40px;
}